@font-face {
    src: url("fonts/IstokWeb-Bold.ttf");
}
@font-face {
    src: url("fonts/IstokWeb-Regular.ttf");
}

#root {
    -fx-background-color: transparent;
}
* {
    -fx-font-smoothing-type: gray;
}

#BG {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}

#auth_title1 {
    -fx-font-size: 19;
    -fx-text-fill: #C0C0C0;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}
#auth_title2 {
    -fx-font-size: 21.5;
    -fx-text-fill: white;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}
#auth_title3 {
    -fx-font-size: 18;
    -fx-text-fill: white;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}
#auth_desc {
    -fx-font-size: 14.5;
    -fx-text-fill: white;
    -fx-opacity: 0.85;
    -fx-background-color: transparent;
}
#auth_desc .text {
    -fx-text-alignment: justify;
    -fx-line-spacing: 0.6;
}
#auth_desc .content {
    -fx-cursor: default;
}
#auth_go {
    -fx-text-fill: white;
    -fx-font-size: 16;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}

#other_links {
    -fx-font-size: 12.5;
    -fx-text-fill: #989898;
}
#REGISTER {
    -fx-text-fill: #D6D6D6;
}
#TO_GAME_text {
    -fx-text-fill: white;
}
#buttons_main {
    -fx-text-fill: #CECECE;
}

.text-area .content {
    -fx-background-color: transparent;
}
.text-area .scroll-pane .viewport{
    -fx-background-color: transparent;
}

#ramValue {
    -fx-text-fill: #B7B7B7;
    -fx-font-size: 13;
    -fx-font-family: 'Istok Web Regular', sans-serif;
}
#ramValueTitle {
    -fx-text-fill: #F1F1F1;
    -fx-font-size: 15;
    -fx-font-family: 'Istok Web Regular', sans-serif;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: #B7B7B7;
    -fx-font-size: 13;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}
.text-field:focused {
    -fx-text-fill: white;
}

#CLOSE_BUTTON:hover {
    -fx-background-color: rgba(240, 122, 122, 0.5);
}
#HIDE_BUTTON:hover, #MAXIMISE_BUTTON:hover {
    -fx-background-color: rgba(256, 256, 256, 0.1);
}

#AVATAR_bg {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

#NICKNAME {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: #E2E5ED;
    -fx-font-size: 16;
}
#BALANCE {
    -fx-text-fill: #D4D7DF;
    -fx-font-size: 13;
}
#SELECTED_SERVER_NAME {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 60;
}
#SELECTED_SERVER_VERSION {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: #BBBBBB;
    -fx-font-size: 40;
}
#wipe_date {
    -fx-text-fill: #BDBDBD;
    -fx-font-size: 15;
}
#SELECTED_SERVER_WIPE_DATE {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: #C7CBCF;
    -fx-font-size: 15;
}
#SELECTED_SERVER_ONLINE {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: #F1F2F5;
    -fx-font-size: 16;
}
#SELECTED_SERVER_IMAGE {
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover, auto;
    -fx-background-position: center center;
}
#server_button {
    -fx-background-color: rgba(40, 42, 42, 0.6);
    -fx-background-radius: 100;
}
#buttons_main_serv {
    -fx-text-fill: white;
    -fx-font-size: 17;
    -fx-padding: 4 15 5 15;
}
#servers_label {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-text-fill: white;
    -fx-font-size: 17;
}

.check-box .box {
    -fx-background-color: #ffffff66;
    -fx-background-radius: 2;
}

.check-box {
    -fx-text-fill: #fafafa;
}

.check-box .text {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 15;
}

.check-box:selected .box {
    -fx-background-color: #ffffffe0;
}

#title2 {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-font-size: 26;
    -fx-text-fill: white;
}

#title3 {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 24;
    -fx-text-fill: #ffffffe0;
}

#title4 {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-font-size: 21;
    -fx-text-fill: white;
}

#title5 {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 16;
    -fx-text-fill: #ffffffd0;
}

#title51 {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 18;
    -fx-text-fill: #ffffffd0;
}

#title6 {
    -fx-font-size: 22;
    -fx-text-fill: #C0C0C0;
    -fx-font-family: 'Istok Web Bold', sans-serif;
}

#title7 {
    -fx-font-family: 'Istok Web Bold', sans-serif;
    -fx-font-size: 21;
    -fx-text-fill: #ffffffee;
}

#title8 {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: #ffffffd0;
}

#newsInfo {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-text-fill: #919295;
    -fx-font-size: 14;
}

#mod_item {
    -fx-background-color: rgba(33, 34, 35, 0.75);
    -fx-background-radius: 10;
}

#mod_item_name {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 20;
    -fx-text-fill: #E2E2E2;
}

#mod_item_version {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 17;
    -fx-text-fill: #9A9A9A;
}

#mod_item_desc {
    -fx-font-family: 'Istok Web Regular', sans-serif;
    -fx-font-size: 15.8;
    -fx-text-fill: #878787;
}

.scroll-pane > .viewport {
    -fx-background-color: transparent;
}
.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-bar {
    -fx-background-color: transparent
}

.scroll-bar:horizontal .track,
.scroll-bar:vertical .track{
    -fx-background-color: rgba(33, 34, 35, 0.75);
    -fx-background-radius : 5.0em;
    -fx-border-width: 0;
    -fx-border-color: transparent;
    -fx-border-radius: 2.0em;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color :transparent;
    -fx-background-radius : 0.0em;
    -fx-padding: 0.0 0.0 3.1 0.0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius : 0.0em;
    -fx-padding: 0.0 3.1 0.0 0.0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.15em 0.0;
}

.scroll-bar:vertical .increment-arrow,
.scroll-bar:vertical .decrement-arrow{
    -fx-shape: " ";
    -fx-padding: 0.0 0.15em;
}

.scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
    -fx-background-color: #555555;
    -fx-background-insets: 0, 0.0, 0.0;
    -fx-translate-x: -0.5;
    -fx-background-radius: 2.0em;
}

.scroll-bar:horizontal .thumb:hover,
.scroll-bar:vertical .thumb:hover {
    -fx-background-color: #797979;
    -fx-background-insets: 0.0, 0.0, 0.0;
    -fx-background-radius: 2.0em;
    -fx-translate-x: -0.5;
}
